/* body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.strings {
    display: flex;
    flex-direction: column;
}

.string {
    margin-bottom: 20px;
} */

.segment-detail-hidden {
    display: none;
}

.word-added {
    background-color: var(--pico-color-lime-600);
;
}

.word-removed {
    text-decoration: line-through;
    background-color: var(--pico-color-pumpkin-600);
}

.word-substituted {
    background-color: var(--pico-color-pumpkin-600);
}